<!DOCTYPE html>
<html>
  <head>
    <title>Vinay Todo Manager</title>
    <link rel="icon" type="image/png" href="app/viewa/layouts/favicon.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
